apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
    flightctl.service: flightctl-imagebuilder-api
  name: flightctl-imagebuilder-api
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
spec:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: 8443
  selector:
    flightctl.service: flightctl-imagebuilder-api
